<div ng-controller="mainCtrl">
    <div class="row project" ng-repeat="project in projects">
        <h3 ng-bind-html="renderHtml(project.name)"></h3>
        <p ng-repeat="paragraph in project.ps" ng-bind-html="renderHtml(paragraph)" ></p>
        <div ng-class="project.imagesClass == undefined ? '' : 'screenshots'">
            <div ng-class="project.imagesClass || 'aligncenter'">
                <a ng-repeat="image in project.images" ng-href="{{ project.link }}"
                   target="_blank"><img ng-src="images/{{ image }}" alt="{{ project.alt }}"
                                        data-toggle="tooltip" data-placement="left" title="{{ project.alt }}"/></a>
            </div>
        </div>
    </div>
</div>